[submodule ".vim/pack/nibalizer/start/vim-fugitive"]
	path = .vim/pack/nibalizer/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".vim/pack/nibalizer/start/vim-go"]
	path = .vim/pack/nibalizer/start/vim-go
	url = https://github.com/fatih/vim-go
[submodule "/home/nibz/.vim/pack/nibalizer/start/utilsnips"]
	path = /home/nibz/.vim/pack/nibalizer/start/utilsnips
	url = https://github.com/SirVer/ultisnips
