[submodule ".vim/pack/nibalizer/start/vim-fugitive"]
	path = .vim/pack/nibalizer/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".vim/pack/nibalizer/start/vim-go"]
	path = .vim/pack/nibalizer/start/vim-go
	url = https://github.com/fatih/vim-go
