[user]
  name = Spencer Krum
  email = nibz@spencerkrum.com

[core]
  editor = vim
  attributesfile = ~/.gitattributes

[alias]
  gerp      = grep
  st        = status
  chp       = cherry-pick
  su        = submodule
  sub       = submodule
  sst       = submodule status
  sup       = "!f() { git submodule sync; git submodule update; }; f"
  co        = checkout
  b         = branch
  ba        = branch --all -v
  ci        = commit
  unstage   = reset HEAD --
  last      = log -1 HEAD
  pg        = log --pretty=format:'%h : %s' --graph
  sgrep     = "!f() { git submodule foreach \"git grep '$1'; true\" | grep -B 1 \"$1\"; }; f"

  # these come from gitimersion
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  type = cat-file -t
  dump = cat-file -p

[color]
  ui = true

[color]
  branch = auto
  diff = auto
  status = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[push]
  default = tracking

[diff "image"]
  # this + the .gitattributes settings make 'git diff' show images when changed
  # I got this from some blog I've lost the link to, but would love to credit them
  command = ~/local/bin/git-imgdiff

[gitreview]
  username = krum-spencer

[grep]
  lineNumber = true

[url "git@github.ibm.com:"]
    insteadOf = https://github.ibm.com/

[commit]
    status = true
    verbose = false
    extendedTemplate = /home/nibz/.git_commit_template
    cleanup = strip

[init]
    # woo
   defaultBranch = main
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
